:root{
    --colors: #4284f5;
    --spacing: 10px;
    --blur: 5px;
}

html{
    font-size: 62.5%;
}

body{
    text-align: center;
    background: rgb(48, 10, 43);
    color: white;
    font-size: 5rem;
    font-family: sans-serif;
}

img.night{
    height: 75rem;
    width: 140rem;
    margin-top: 2.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(var(--blur));
}

.over{
    position: absolute;
    top: 5rem;
    left: 27.5rem;
}

.slider::-ms-fill-lower{
    background-color: green;
}

.js{
    color: var(--colors);
}

h3{
    margin: 1.2rem 2rem 0.5rem;
}

img.city{
    max-height: 50rem;
    max-width: 80rem;
    padding: var(--spacing);
    background: var(--colors);
}

.controls{
    margin: 1rem 2rem 3rem;
}

input {
    width: 15rem;
}
